<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src="../../bower_components/jquery/dist/jquery.min.js" onload="window.$ = window.jQuery = module.exports;"></script>
  <link href="../../stylesheets/main.css" rel="stylesheet" type="text/css">
  <link href="../../vendor/photon/photon.css" rel="stylesheet" type="text/css">
  <link href="../../bower_components/bootstrap-css/css/bootstrap.css" rel="stylesheet" type="text/css">
  <script src="../../vendor/electron_boilerplate/context_menu.js"></script>
  <script src="../../bower_components/bootstrap-css/js/bootstrap.js"></script>
  <script src="../../vendor/electron_boilerplate/external_links.js"></script>


</head>

<body ng-app="myApp" ng-class="{ primary: ( layout == 'primary' ), secondary: ( layout == 'secondary' ) }" ng-switch="layout">
  <div class="window">
    <header class="toolbar toolbar-header">
      <h1 class="title">Pic.cm</h1>
      <div class="toolbar-actions">
        <div class="btn-group">
          <button class="btn btn-default" ng-click="layout='primary'">
            <span class="icon icon-home"></span>
          </button>
          <button class="btn btn-default" ng-click="layout='secondary'">
            <span class="icon icon-folder"></span>
          </button>
          <button class="btn btn-default active">
            <span class="icon icon-cloud"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-popup"></span>
          </button>
          <button class="btn btn-default">
            <span class="icon icon-shuffle"></span>
          </button>
        </div>
      </div>
    </header>
    <div class="window-content">
      <div class="pane-group">
        <div class="pane pane-sm sidebar">
          <nav class="nav-group">
            <h5 class="nav-group-title">Pic.cm</h5>
            <span class="nav-group-item">
              <span class="icon icon-light-up"></span>
              Home
            </span>
            <span class="nav-group-item active">
              <span class="icon icon-home"></span>
              Settings
            </span>
            <span class="nav-group-item">
              <span class="icon icon-light-up"></span>
              History
            </span>

          </nav>
        </div>

        <!-- Content -->
        <div class="pane container-fluid">
          <div ng-switch-when="primary" primary-layout>

          </div>
          <div ng-switch-when="secondary" secondary-layout>
              <!-- Content provided by component directive. -->
          </div>
        </div>
        </div>
      </div>
    </div>

    <script src="../../bower_components/angular/angular.js"></script>
    <script src="../../bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="../../bower_components/angular-route/angular-route.js"></script>
    <script src="../../bower_components/angular-animate/angular-animate.js"></script>
    <script src="../../bower_components/angular-aria/angular-aria.js"></script>
    <script src="../../bower_components/angular-material/angular-material.js"></script>
    <!--<script src="../../scripts/settings/settingsService.js"></script>-->
    <script src="../../scripts/settings/settingsController.js"></script>
</body>

</html>
